{
  "openapi": "3.0.3",
  "info": { "title": "GitHub REST API (curated subset)", "version": "2022-11-28" },
  "servers": [{ "url": "https://api.github.com" }],
  "components": {
    "schemas": {
      "simple-user": {
        "type": "object",
        "properties": {
          "login": { "type": "string" },
          "id": { "type": "integer" },
          "type": { "type": "string" },
          "html_url": { "type": "string" }
        }
      },
      "repository": {
        "type": "object",
        "properties": {
          "id": { "type": "integer" },
          "name": { "type": "string" },
          "full_name": { "type": "string" },
          "private": { "type": "boolean" },
          "html_url": { "type": "string" },
          "default_branch": { "type": "string" }
        }
      },
      "issue": {
        "type": "object",
        "properties": {
          "id": { "type": "integer" },
          "number": { "type": "integer" },
          "title": { "type": "string" },
          "state": { "type": "string" },
          "html_url": { "type": "string" }
        }
      },
      "gist": {
        "type": "object",
        "properties": {
          "id": { "type": "string" },
          "html_url": { "type": "string" },
          "public": { "type": "boolean" }
        }
      },
      "release-asset": {
        "type": "object",
        "properties": {
          "id": { "type": "integer" },
          "name": { "type": "string" },
          "browser_download_url": { "type": "string" }
        }
      }
    }
  },
  "paths": {
    "/user": {
      "get": {
        "operationId": "users/get-authenticated",
        "summary": "Get the authenticated user",
        "responses": {
          "200": {
            "description": "OK",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/simple-user" } } }
          }
        }
      }
    },
    "/repos/{owner}/{repo}": {
      "parameters": [
        { "name": "owner", "in": "path", "required": true, "schema": { "type": "string" } },
        { "name": "repo", "in": "path", "required": true, "schema": { "type": "string" } }
      ],
      "get": {
        "operationId": "repos/get",
        "summary": "Get a repository",
        "responses": {
          "200": {
            "description": "OK",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/repository" } } }
          }
        }
      }
    },
    "/repos/{owner}/{repo}/issues": {
      "parameters": [
        { "name": "owner", "in": "path", "required": true, "schema": { "type": "string" } },
        { "name": "repo", "in": "path", "required": true, "schema": { "type": "string" } }
      ],
      "get": {
        "operationId": "issues/list-for-repo",
        "summary": "List repository issues",
        "parameters": [
          { "name": "state", "in": "query", "required": false, "schema": { "type": "string", "enum": ["open", "closed", "all"], "default": "open" } },
          { "name": "labels", "in": "query", "required": false, "style": "form", "explode": false, "schema": { "type": "string", "description": "Comma-separated label names." } },
          { "name": "per_page", "in": "query", "required": false, "schema": { "type": "integer", "default": 30 } },
          { "name": "page", "in": "query", "required": false, "schema": { "type": "integer", "default": 1 } }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": { "application/json": { "schema": { "type": "array", "items": { "$ref": "#/components/schemas/issue" } } } }
          }
        }
      },
      "post": {
        "operationId": "issues/create",
        "summary": "Create an issue",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "title": { "type": "string" },
                  "body": { "type": "string" },
                  "assignees": { "type": "array", "items": { "type": "string" } },
                  "labels": { "type": "array", "items": { "type": "string" } }
                },
                "required": ["title"]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/issue" } } }
          }
        }
      }
    },
    "/repos/{owner}/{repo}/tarball/{ref}": {
      "get": {
        "operationId": "repos/download-tarball-archive",
        "summary": "Download a repository tarball",
        "parameters": [
          { "name": "owner", "in": "path", "required": true, "schema": { "type": "string" } },
          { "name": "repo", "in": "path", "required": true, "schema": { "type": "string" } },
          { "name": "ref", "in": "path", "required": true, "schema": { "type": "string" } }
        ],
        "responses": {
          "302": { "description": "Redirect to the archive download." }
        }
      }
    },
    "/gists": {
      "post": {
        "operationId": "gists/create",
        "summary": "Create a gist",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "description": { "type": "string" },
                  "public": { "type": "boolean", "default": false },
                  "files": {
                    "type": "object",
                    "additionalProperties": {
                      "type": "object",
                      "properties": { "content": { "type": "string" } },
                      "required": ["content"]
                    }
                  }
                },
                "required": ["files"]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/gist" } } }
          }
        }
      }
    },
    "/repos/{owner}/{repo}/releases/{release_id}/assets": {
      "post": {
        "operationId": "repos/upload-release-asset",
        "summary": "Upload a release asset",
        "servers": [{ "url": "https://uploads.github.com" }],
        "parameters": [
          { "name": "owner", "in": "path", "required": true, "schema": { "type": "string" } },
          { "name": "repo", "in": "path", "required": true, "schema": { "type": "string" } },
          { "name": "release_id", "in": "path", "required": true, "schema": { "type": "integer" } },
          { "name": "name", "in": "query", "required": true, "schema": { "type": "string" } },
          { "name": "label", "in": "query", "required": false, "schema": { "type": "string" } }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/octet-stream": { "schema": { "type": "string", "format": "binary" } }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/release-asset" } } }
          }
        }
      }
    }
  }
}
